@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}
.banner {
    background-image: linear-gradient(to right, rgba(30, 38, 72, 1), rgba(30, 38, 72, 0))
    ,url(../images/44a6746d202b9e2422cd9ebf5edc3f0ae71fb415.png);
    background-size: cover;
    padding: 2.95rem 0 3rem 0;
    background-position: center;
}
.banner .wrap-banner {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.banner .logo {
    margin-bottom: 1.6rem;
    width: 11.55rem;
    height: auto;
}
.banner-left {
    width: 58%;
}
.title-main {
    font-size: 2.4rem;
    font-weight: 650;
    color: #FFFFFF;
    margin-bottom: 0.6rem;
}
.para-main {
    font-size: 1.2rem;
    font-weight: 650;
    color: #FFFFFF;
    margin-bottom: 0.6rem;
}
.list-desc {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-desc .item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.list-desc .item:not(:last-child) {
    margin-bottom: 0.775rem;
}
.list-desc .item span {
    color: #FFFFFF99;
    font-weight: 400;
    font-size: 0.9rem;
}
.list-desc .item img {
    width: 1.2rem;
    height: auto;
}
.banner .wrap-bottom {
    width: 80%;
    text-align: center;
    margin-top: 1.6rem;
}
.link-to {
    font-size: 0.9rem;
    width: 100%;
    font-weight: 650;
    color: #FFFFFF;
    text-align: center;
    padding: 0.825rem 0;
    background-color: #2CB81D;
    border-radius: 2.5rem;
    border: 0;
    max-width: 40rem;
}
.para-sub {
    font-size: 0.8rem;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0.6rem 0 1.6rem 0;
}
.para-midi {
    font-weight: 500;
    font-size: 0.8rem;
    color: #FFFFFF;
    margin-bottom: 0.2rem;
}
.rating {
    list-style: none;
    display: flex;
    gap: 0.2rem;
    padding: 0;
    margin: 0;
}
.rate-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin: 2rem 0 0.8rem 0;
}
.wrap-rate .wrap-img {
    width: 4.75rem;
    height: 4.75rem;
    border-radius: 50%;
    border: 0.15rem solid #2CB81D;
    overflow: hidden;
}
.wrap-rate .wrap-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.para-rate {
    margin-top: 0.8rem;
    color: #000000;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
}
.title-medium {
    font-weight: 650;
    font-size: 1.6rem;
    color: #000000;
    margin-bottom: 0;
    text-align: center;
}
.banner-right {
    display: flex;
    align-items: center;
    flex: 1;
}
.real-result {
    background-color: #FFFCF5;
    border-radius: 1.5rem;
    padding: 1.6rem 1.6rem 2rem 1.6rem;
    box-shadow: 0px 2rem 2rem rgba(0, 0, 0, 0.25);
    width: 25rem;
}
.title-custom {
    font-weight: 650;
    font-size: 0.8rem;
}
.banner-2 {
    padding: 4rem 0;
}
.title-section {
    font-weight: 650;
    font-size: 2rem;
}
.list-act {
    margin-top: 2rem;
    display: flex;
}
.list-act .item {
    width: calc(100% / 4);
    border-right: 2px solid #0000001A;
    padding: 0 2rem;
}
.list-act .item:first-child {
    padding-left: 0;
}
.list-act .item:last-child {
    border: 0;
}
.image-act {
    margin-top: 2rem;
}
.para-pro {
    margin-top: 0.8rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #6F6D68;
}
.title-pro {
    font-size: 1.2rem;
    font-weight: 650;
    color: #000000;
}
.list-wrap-rate {
    width: 100%;
}
.slick-prev:before {
    content: '';
    background-image: url(../images/ooui_next-rtl.png);
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-position: center;
    display: block;
}
.slick-next:before {
    content: '';
    background-image: url(../images/ooui_next-ltr.png);
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-position: center;
    display: block;
}
.list-wrap-rate .slick-prev {
    top: 35%;
    left: 0px;
}
.list-wrap-rate .slick-next {
    top: 35%;
    right: 0px;
}
.home-page-1 {
  padding: 4.9rem 0 4.95rem 0;
  position: relative;
  overflow: hidden;
  min-height: 21rem;
  z-index: 3;
}
.home-page-1::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../images/abbf6567c3bd6f3ab76a4ca1ac2e0f2de2adae7f.png);
  background-size: cover;
  background-position: center;
  transform: scaleX(-1); 
  transform-origin: center;
  z-index: 0;
  pointer-events: none; 
}
.home-page-1::after{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(30,38,72,1) 0%,
    rgba(30,38,72,1) 27%,
    rgba(30,38,72,0) 100%
  );
  z-index: 1;
  pointer-events: none;
}
.list-step,
.title-section {
  position: relative;
  z-index: 2;
}
.title-section.white {
  color: #FFFFFF;
}
.item-step {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
.image-step {
    width: 5.65rem;
    height: 5.65rem;
}
.image-step img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-step span,
.content-step p{
  font-size: 0.9rem;
  font-weight: 400;
  color: #D0CCC3;
}
.content-step .title-pro{
  margin: 0.4rem 0;
}
.content-step p{
  margin: 0;
}
.title-step {
  font-size: 1.3rem;
  font-weight: 650;
  color: #FFFFFF;
  line-height: 1.9rem;
}
.list-step {
  margin-top: 2rem;
}
.list-step .item-step + .item-step{
  margin-top: 1.6rem;
}
.home-page-2 {
  padding: 1.375rem 0;
}
.list-banner-ads .item {
  padding: 0.75rem 1rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  aspect-ratio: 4/3;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.list-banner-ads .item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.list-banner-ads .slick-track {
  padding: 1rem 0;
}
.list-banner-ads .slick-slide {
  margin: 0 0.75rem;
}
.list-banner-ads .slick-list {
  margin: 0 -0.75rem;
}
.wrap-text-img {
  display: flex;
  gap: 3rem;
}
.wrap-text-img .wrap-img {
  width: 55%;
  overflow: hidden;
  border-radius: 1rem;
  aspect-ratio: 3 / 2;
}
.wrap-text-img .wrap-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap-text-img .wrap-content {
  flex: 1;
}
.list-tabs {
  padding: 0;
  margin: 0;
  margin: 1.2rem 0 1.6rem 0;
}
.list-tabs .item-tabs {
  list-style: none;
  display: flex;
  gap: 0.4rem;
}
.list-tabs .item-tabs + .item-tabs {
  margin-top: 0.5rem;
}
.list-tabs .item-tabs::before {
  content: '';
  background-image: url(../images/title.png);
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
.item-tabs .para-pro {
  margin: 0;
}
.btn-link {
  font-size: 0.9rem;
  color: #1F2647;
  font-weight: 650;
  padding: 0.9rem 1.2rem;
  border: 0.05rem solid #1F2647;
  border-radius: 1.5rem;
  text-decoration: none;
  background-color: transparent;
}
.home-page-3 {
  padding: 4rem 0;
}
.home-page-3 .wrap-text-img + .wrap-text-img {
  margin-top: 6.4rem;
}
.wrap-text-img.second .wrap-content {
  order: 1;
}
.wrap-text-img.second .wrap-img {
  order: 2;
}
.home-page-4 {
  padding: 4rem 0 7.5rem 0;
}
.list-box-eval {
  margin-top: 2rem;
}
.list-box-eval .item-eval{
  background-color: #EFF0F2;
  padding: 3rem 6rem;
  border-radius: 1.2rem;
}
.item-eval {
  text-align: center;
}
.item-eval .wrap-img {
  width: 4.75rem;
  height: 4.75rem;
  overflow: hidden;
  border-radius: 2.5rem;
}
.item-eval .wrap-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.list-stars {
  display: flex;
  list-style: none;
  gap: 0.15rem;
  padding: 0;
  margin: 0.8rem 0;
  justify-content: center;
}
.title-eval {
  margin-bottom: 0 0 0.8rem 0;
  color: #4C5C74;
  font-size: 1.2rem;
  font-weight: 400;
}
.para-eval {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #141930;
  line-height: 2rem;
}
.list-box-eval .slick-dots {
  bottom: -4rem;
}
.list-box-eval .slick-prev, .list-box-eval .slick-next {
  top: unset;
  bottom: -6.25rem;
}
.list-box-eval .slick-prev {
  left: 35%;
  display: flex!important;
  z-index: 2;
  width: 3rem;
  height: 3rem;
  border: 0.05rem solid #1F2647;
  border-radius: 2.5rem;
  align-items: center;
  justify-content: center;
}
.list-box-eval .slick-next {
  right: 35%;
  z-index: 2;
  display: flex!important;
  width: 3rem;
  height: 3rem;
  border: 0.05rem solid #1F2647;
  border-radius: 2.5rem;
  align-items: center;
  justify-content: center;
}
.slick-dots li button:before {
  font-size: 1.25rem;
}
.faq {
  padding: 3.2rem 0;
  background-color: #070911;
}
.list-faq {
  margin: 3.2rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 4rem;
  row-gap: 0;
}
.list-faq .item {
  width: calc(100% / 2 - 2rem);
  padding: 1.825rem 1.2rem;
  display: flex;
  gap: 0.8rem;
}
.list-faq .answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin-top: 0;
  color: #444;
  transition: all 0.5s ease;
  transform-origin: top;
  transform: translateY(-0.3rem);
  margin-bottom: 0;
}
.list-faq .item.active .answer {
  opacity: 1;
  max-height: 50rem;
  margin-top: .5rem;
  transform: translateY(0);
}
h3.question {
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  cursor: pointer;
}
.list-faq .item::before {
  content: '';
  background-image: url(../images/Frame\ 65.png);
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.5s;
  flex-shrink: 0;
}
.list-faq .item.active::before {
  transform: rotate(90deg);
} 
.footer-page {
  background-color: #172B67;
  padding: 3.2rem 0;
  text-align: center;
}
.footer-page .logo a{
  width: 10.15rem;
  height: auto;
  text-align: center;
}
.alright-reserve {
  font-size: 0.8rem;
  font-weight: 400;
  color: #FFFFFF;
  display: block;
  margin-top: 0.8rem;
}
.list-nav {
  list-style: none;
  padding: 0;
  margin: 0.8rem 0 0 0;
}
.list-nav .item {
  display: flex;
  align-items: center;
  padding: 0.125rem 0;
}
.list-nav .item a{
  padding: 0 0.6rem;
  color: #5065A5;
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  position: relative;
}
.list-nav .item a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.25rem;
  width: 0;
  height: 0.1rem;
  background: #5065A5;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.list-nav .item a:hover::before {
  width: 100%;
}
.list-nav .item::after {
  content: '';
  width: 0.05rem;
  height: 100%;
  background-color: #5065A5;
  display: inline-block;
}
.list-nav .item:last-child::after {
  display: none;
}
.logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-page .logo {
  width: 10.15rem;
  height: auto;
}
/* Desktop lớn (≥ 1200px) */
@media (min-width: 1201px) {
  html {
    font-size: 18px;
  }
}


/* Desktop vừa (992px – 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}


/* Tablet ngang / Laptop nhỏ (768px – 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 13px;
  }
}



/* Tablet nhỏ (576px – 768px) */
@media(max-width: 768px) {
  html {
    font-size: 15px;
  }
  .wrap-banner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrap-banner .banner-left,
  .wrap-banner .banner-right  {
    width: 100%;
  }
  .banner-right {
    justify-content: center;
  }
  .real-result {
    width: 34rem;
  }
  .banner .wrap-bottom {
    width: 100%;
  }
  .banner-2 {
    padding: 2rem 0;
  }
  .list-act {
    flex-wrap: wrap;
    gap: 0;
  }
  .list-act .item {
    width: 50%;
  }
  .list-act .item:nth-child(2n) {
    border: 0;
  }
  .list-act .item:nth-child(2n + 1) {
    padding-left: 0;
  }
  .wrap-text-img {
    flex-wrap: wrap;
  }
  .wrap-text-img .wrap-img {
    width: 100%;
  }
  .home-page-3 {
    padding: 2.5rem 0;
  }
  .home-page-3 .wrap-text-img + .wrap-text-img {
    margin-top: 3.4rem;
  }
  .wrap-text-img.second .wrap-img  {
    order: 1;
  }
  .home-page-4 {
    padding: 1rem 0 4.5rem 0;
  }
  .list-box-eval .item-eval {
    padding: 2rem 2rem;
  }
  .para-eval {
    font-size: 1.4rem;
  }
  .list-faq .item{
    width: 100%;
    padding: 1rem 1rem;
  }
  .faq {
    padding: 2.2rem 0;
  }
  .list-faq {
    margin: 0.2rem 0 0 0;
    padding: 0;
  }
  .list-nav {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .title-section br {
    display: none;
  }
}


/* Mobile nhỏ (≤ 576px) */
@media (max-width: 576px) {
  html {
    font-size: 15px;
  }
  .list-act .item {
    width: 100%;
    padding: 0;
    text-align: center;
    border: 0;
  }
  .real-result {
    width: 24rem;
  }
  .footer-page {
    padding: 2.2rem 0;
  }
  .banner-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .list-desc {
    width: 100%;
  }
  .item-step {
    flex-wrap: wrap;
    justify-content: center;
  }
  .content-step {
    text-align: center;
    width: 100%;
  }
  .home-page-1 {
    padding: 1.9rem 0 1.95rem 0;
  }
  .para-eval {
    font-size: 1.2rem;
  }
  h3.question {
    font-size: 0.9rem;
  }
  .real-result {
    width: 100%;
  }
}







